<template>
  <NuxtLayout>
    <NuxtPage />
    <Notifications position="bottom left" />
  </NuxtLayout>
</template>

<script setup lang="ts"></script>

<style>
.page-enter-active,
.page-leave-active {
  transition: all 0.7s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  /* filter: blur(1rem); */
}
</style>
