<template>
  <div
    class="tw-bg-primary tw-text-center tw-flex tw-justify-center tw-items-center tw-h-screen"
  >
    <div>
      <p class="tw-text-red-500 tw-text-4xl">{{ error.statusCode }}</p>
      <p class="tw-text-2xl">صفحه یا محتوای مورد نظر یافت نشد</p>
      <!-- <p>{{ error.message }}</p> -->
      <button class="tw-p-2 tw-text-white tw-bg-accent tw-rounded-lg tw-mt-4" @click="handleError">
        بازگشت به صفحه اصلی
      </button>
    </div>
  </div>
</template>
<script setup>
defineProps(["error"]);
const handleError = () => clearError({ redirect: "/" });
</script>
