@font-face {
  font-family: yekan;
  font-style: normal;
  font-weight: normal;
  src: url('~/assets/fonts/yekan/yekan.eot');
  src: url('~/assets/fonts/yekan/yekan.eot?#iefix') format('embedded-opentype'),
    url('~/assets/fonts/yekan/yekan.woff') format('woff'),
    url('~/assets/fonts/yekan/yekan.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: normal;
  src: url('~/assets/fonts/vazir/vazir.eot');
  src: url('~/assets/fonts/vazir/vazir.eot?#iefix') format('embedded-opentype'),
    url('~/assets/fonts/vazir/vazir.woff') format('woff'),
    url('~/assets/fonts/vazir/vazir.woff2') format('woff2'),
    url('~/assets/fonts/vazir/vazir.ttf') format('truetype');
  font-display: swap;
} /*# sourceMappingURL=fonts.css.map */

@font-face {
  font-family: mulish;
  font-style: normal;
  font-weight: normal;
  src: url('~/assets/fonts/mulish/Mulish-VariableFont_wght.ttf');
  src: url('~/assets/fonts/mulish/Mulish-VariableFont_wght.ttf') format('embedded-opentype'),
    url('~/assets/fonts/mulish/Mulish-VariableFont_wght.ttf') format('ttf'),
    url('~/assets/fonts/mulish/Mulish-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
} 
