<template>
  <v-data-table
    :items-per-page="-1"
    hide-default-footer
    :headers="props.headers"
    :items="props.items"
  >
    <template v-slot:item.defaultValues="{ item }">
      <div class="tw-min-w-max">
        <span v-for="att in item.raw.defaultValues" :key="att.id">
          {{ att.value }},
        </span>
      </div>
    </template>
   

   
  </v-data-table>
</template>
<script setup lang="ts">
import { VDataTable } from "vuetify/labs/VDataTable";

const props = defineProps({
  items: {
    type: Array,
    default: [],
  },
  headers: <any>{
    type: Array,
    required: true,
  },

  height: {
    type: Number,
    default: 700,
  },
  loading: {
    type: Boolean,
    default: false,
  },
});
</script>
