<template>
  <v-dialog v-model="props.dialog" width="100%">
    <v-card height="500" width="50%" class="mx-auto">
      <v-card-title> دسته بندی </v-card-title>

      <v-card-item>
        <div class="tw-max-w-[400px] tw-min-h-[350px]">
          <v-text-field
            v-model="search"
            label="جستجو"
            variant="solo"
            @update:modelValue="serchCatagries"
          ></v-text-field>
          <products-nested-catagory
            v-for="(item, i) in categories"
            :key="item.id"
            :catagory="item"
          />
        </div>
      </v-card-item>
      <v-card-actions>
        <div class="tw-mr-auto">
          <v-btn :loading="submitLoading" color="red" @click="$emit('close')"
            >انصراف</v-btn
          >
          <v-btn variant="flat" color="green" class="tw-mx-2">ثبت</v-btn>
        </div>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script setup lang="ts">
// interfaces
import { ICatagory } from "@/interfaces/index";

const { $axios } = useNuxtApp();
const categories = ref<ICatagory[]>([]);
const search = ref<string>("");
const props = defineProps({
  dialog: {
    type: Boolean,
    default: false,
  },
});

watch(props, () => {
  if (props.dialog) {
    fetchcategories();
  }
});

function serchCatagries(searchTitle: string) {
  if (searchTitle.length == 0) {
    fetchcategories();
    return;
  }
  filterCategories(categories.value, searchTitle);
}
function filterCategories(categoriesData: ICatagory[], searchTitle: string) {
  const filteredCategories = categoriesData.reduce(
    (acc: any, categoriesData) => {
      if (categoriesData.title === searchTitle) {
        acc.push(categoriesData);
      } else if (categoriesData?.children?.length) {
        const filteredChildCategories: any = filterCategories(
          categoriesData.children,
          searchTitle
        );
        if (filteredChildCategories?.length) {
          acc.push({
            title: categoriesData.title,
            children: filteredChildCategories,
          });
        }
      }
      return acc;
    },
    []
  );

  categories.value = filteredCategories;
}

async function fetchcategories() {
  try {
    await $axios.get(`/Category`).then((res: any) => {
      categories.value = res.data;
    });
  } catch (error) {}
}
</script>
