<template>
  <v-list>
    <v-list-item v-if="catagory.children.length == 0">
      <div>
        <v-icon size="small" class="tw-ml-2 tw--mt-1" icon="mdi-folder"></v-icon>
        <span>
          {{ catagory.title }}
        </span>
      </div>
    </v-list-item>
    <v-list-group fluid v-else>
      <template v-slot:activator="{ props }">
        <v-list-item v-bind="props">
          <div>
            <v-icon class="tw-ml-2 tw--mt-1" icon="mdi-folder"></v-icon>
            <span>
              {{ catagory.title }}
            </span>
          </div>
        </v-list-item>
      </template>
      <div class="tw-mr-6 tw-text-xs">
        <products-nested-catagory
          v-for="(item, i) in catagory.children"
          :key="item.id"
          :catagory="item"
        />
      </div>
    </v-list-group>
  </v-list>
</template>
<script setup lang="ts">
defineProps({
  catagory: {
    type: Object,
    required: true,
  },
});
</script>
