<template>
  <v-data-table
    :items-per-page="-1"
    hide-default-footer
    :headers="props.headers"
    :items="props.items"
  >
    <template v-slot:item.isPublished="{ item }">
      <div>
        <v-icon
          v-if="item.raw.isPublished"
          color="green"
          icon="mdi-check"
        ></v-icon>
        <v-icon v-else color="red" icon="mdi-close"></v-icon>
      </div>
    </template>
    <template v-slot:item.action="{ item }">
      <v-btn
        @click="
          $router.push({
            name: 'products-edit',
            query: {
              id: item.raw.id,
            },
          })
        "
        size="small"
        color="primary"
        >ویرایش</v-btn
      >
      <v-btn
        @click="
          $router.push({
            name: 'products-attributes',
            query: {
              id: item.raw.id,
            },
          })
        "
        size="small"
        color="accent"
        class="tw-mx-2"
        >ویژگی‌ها</v-btn
      >
    </template>
  </v-data-table>
</template>
<script setup lang="ts">
import { VDataTable } from "vuetify/labs/VDataTable";

const props = defineProps({
  items: {
    type: Array,
    default: [],
  },
  headers: <any>{
    type: Array,
    required: true,
  },

  height: {
    type: Number,
    default: 700,
  },
  loading: {
    type: Boolean,
    default: false,
  },
});
</script>
