<template>
  <PageContent :loadPage="loading">
    <v-icon
      class="tw-mx-1"
      size="small"
      color="primary"
      icon="mdi-arrow-right"
      @click="$router.go(-1)"
    ></v-icon>
    <span class="tw-font-bold tw-text-xl">ویژگی ها</span>

    <AttributesTable class="tw-w-full" :headers="headers" :items="attributes" />
  </PageContent>
</template>
<script setup lang="ts">
// interfaces
import { IHeader, IClmns, IAttributes } from "@/interfaces/index";
import AttributesTable from "~~/components/products/AttributesTable.vue";

const { $axios } = useNuxtApp();
// const
const loading = ref<boolean>(true);
const attributes = ref<IAttributes[]>([]);
const headers: IHeader[] = [
  {
    title: "عنوان",
    align: "start",
    sortable: false,
    key: "attrText",
  },
  {
    title: "مقدار",
    align: "start",
    sortable: false,
    key: "valueText",
  },
  {
    title: "مقادیر پیش فرض",
    align: "start",
    sortable: false,
    key: "defaultValues",
  },
];

onMounted(() => {
  fetchattributes();
});
// function
async function fetchattributes(page?: number) {
  loading.value = true;
  try {
    await $axios.get(`/Attributes`).then((res: any) => {
      attributes.value = res.data;
      loading.value = false;
    });
  } catch (error) {
    loading.value = false;
  }
}
</script>
