<template>
  <PageContent :loadPage="loading">
    <v-icon
      class="tw-mx-1"
      size="small"
      color="primary"
      icon="mdi-arrow-right"
      @click="$router.go(-1)"
    ></v-icon>
    <span class="tw-font-bold tw-text-xl">ویرایش</span>

    <v-form class="tw-mt-8" ref="form" v-model="formValidate">
      <v-row>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="title"
            label="عنوان"
            required
            :rules="[rules.required]"
            variant="solo"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="4">
          <v-select
            v-model="statusId"
            :items="statusItems"
            item-title="title"
            item-value="id"
            label="وضعیت"
            variant="solo"
          ></v-select>
        </v-col>

        <v-col cols="auto">
          <v-checkbox
            v-model="isPublished"
            label="وضعیت انتشار"
            color="green"
            hide-details
          ></v-checkbox>
        </v-col>
      </v-row>
      <v-col cols="12"></v-col>
      <v-btn
        :loading="submitLoading"
        color="green"
        class="tw-mt-5"
        @click="submit()"
        >ثبت</v-btn
      >
      <v-btn @click="dialog = true" color="accent" class="tw-mt-5 tw-mx-2"
        >انتخاب دسته بندی</v-btn
      >
    </v-form>

    <!-- catagory dialog -->
    <LazyProductsCatagory :dialog="dialog" @close="dialog = false" />ّ
  </PageContent>
</template>
<script setup lang="ts">
// interfaces
import { IProduct, IStatus } from "@/interfaces/index";

// rules
import { RRequired } from "@/libs/index";

const { $axios } = useNuxtApp();
// const
const { notif } = globalComposables();
const loading = ref<boolean>(true);
const submitLoading = ref<boolean>(false);
const formValidate = ref<boolean>(false);
const dialog = ref<boolean>(false);
const title = ref<string>("");
const isPublished = ref<boolean>();
const statusId = ref<number>();
const statusItems = ref<IStatus[]>([
  {
    title: "در انتظار تایید",
    id: 1,
  },
  {
    title: "منتشر شده",
    id: 2,
  },
  {
    title: "نیاز به ویرایش",
    id: 3,
  },
]);

const form = ref();
const route = useRoute();

const rules = {
  required: RRequired,
};
const product = ref<IProduct>();

onMounted(() => {
  fetchProduct();
});

async function fetchProduct() {
  loading.value = true;
  try {
    await $axios.get(`/Product/${route.query.id}`).then((res: any) => {
      product.value = res.data;
      loading.value = false;
      isPublished.value = product.value?.isPublished as boolean;
      title.value = product.value?.title as string;
      statusId.value = product.value?.statusId as number;
    });
  } catch (error) {
    loading.value = false;
  }
}

async function submit() {
  if (formValidate.value) {
    submitLoading.value = true;
    await $axios
      .post(`/Product/Save`, {
        id: product.value?.id,
        title: title.value,
        isPublished: isPublished.value,
        statusId: statusId.value,
      })
      .then(() => {
        notif("sucsecc", "با موفقیت ویرایش شد");
        submitLoading.value = false;
      })
      .catch(() => {
        submitLoading.value = false;
      });
  } else {
    form.value.validate();
  }
}
</script>
