<template>
  <PageContent :loadPage="loading">
    <span class="tw-font-bold tw-text-xl">محصولات</span>

    <ProductsProductTable class="tw-w-full" :headers="headers" :items="products" />
  </PageContent>
</template>
<script setup lang="ts">
// interfaces
import { IHeader, IClmns, IProduct } from "@/interfaces/index";

const { $axios } = useNuxtApp();
// const
const loading = ref<boolean>(true);
const products = ref<IProduct[]>([]);
const headers: IHeader[] = [
  {
    title: "عملیات",
    align: "start",
    sortable: false,
    key: "action",
  },
];

onMounted(() => {
  fetchProducts();
});
// function
async function fetchProducts(page?: number) {
  loading.value = true;
  try {
    await $axios.get(`/Product`).then((res: any) => {
      res.data.clmns.forEach((item: IClmns) => {
        headers.unshift({
          title: item.header,
          align: "start",
          sortable: false,
          key: item.field,
        });
      });
      products.value = res.data.data;
      loading.value = false;
    });
  } catch (error) {
    loading.value = false;
  }
}
</script>
