@import "./fonts/fonts.scss";
@import "tailwind.css";

* {
  font-family: vazir, yekan, sans-serif;
}

.v-data-table-footer {
  display: none !important;
}
.table .v-data-table-header__content {
  color: white !important;
}
.table tbody {
  color: white !important;
  font-size: small;
  height: 200 !important;
}
.table tr {
  padding: 250px;
}
