<template>
  <v-card>
    <v-locale-provider rtl>
      <v-layout>
        <div class="tw-p-20 tw-w-full">
          <slot />
        </div>
      </v-layout>
    </v-locale-provider>
  </v-card>
</template>

<script setup lang="ts"></script>
