<template>
  <div>
    <Loading v-if="loadPage" />

    <div v-else>
     
      <slot />
    </div>
  </div>
</template>
<script setup lang="ts">
import Loading from "@/components/global/Loading.vue";
const props = defineProps({
  loadPage: {
    type: Boolean,
    required: true,
    default: true,
  },
});
</script>
